include ../main-info/main-info.pug
include ../schedule/schedule.pug
mixin menu-screen(modifier)
  .menu-screen&attributes(attributes)
    +main-info({
      title:"1 неделя",
      desc:"Пример плана на 1 день",
      userInfo:"Иванов Ваня",
      foodPropertiesGrid:{
        propertyValues:["114","87","323","2530",],
        propertyNames: ["белок","жир","углеводы","ккал"]
      },
    })(class="menu-screen__main-info")
    +schedule({
      columnHeads:["ПОНЕДЕЛЬНИК","ВТОРНИК","СРЕДА","ЧЕТВЕРГ","ПЯТНИЦА","СУББОТА","ВОСКРЕСЕНЬЕ",],
      rows: [
        {
          rowHead: "ЗАВТРАК",
          cells:[
            {
              cellTitle:"Каша на воде и яичница/омлет:",
              cellRows:[
                {
                  propertyName:"Гречка",
                  propertyValue: "200г.",
                },
                {
                  propertyName:"Хлеб ц.зерн. ",
                  propertyValue: "40г.",
                },
                {
                  propertyName:"Белок",
                  propertyValue: "1шт.",
                },
                {
                  propertyName:"Лук репчатый",
                  propertyValue: "30г.",
                },
              ],
              cellCaption: "Можно разделить этот прием пищи на 2 раза",
            },
            {},{},{},{},{},{}
          ],
        },
        {
          rowHead: "ОБЕД",
          cells:[
            {
              cellTitle:"Птица тушеная с овощами, гарнир:",
              modificator: "schedule__cell_bg_light",
              cellRows:[
                {
                  propertyName:"Куриная грудка",
                  propertyValue: "110г.",
                },
                {
                  propertyName:"Лук репчатый",
                  propertyValue: "40г.",
                },
                {
                  propertyName:"Гречка",
                  propertyValue: "200г.",
                },
                {
                  propertyName:"Масло льняное",
                  propertyValue: "40г.",
                },
              ],
              cellCaption: "Можно разделить этот прием пищи на 2 раза",
            },
            {},{},{},{},{},{}
          ],
        },
        {
          rowHead: "УЖИН",
          cells:[
            {
              cellTitle:"Рыба на пару с овощами:",
              cellRows:[
                {
                  propertyName:"Судак",
                  propertyValue: "150г.",
                },
                {
                  propertyName:"Масло льняное",
                  propertyValue: "30г.",
                },
              ],
            },
            {},{},{},{},{},{}
          ],
        }
      ],
      caption: "* Вес продуктов указан в сыром виде (крупы, птица, мясо, рыба).",
    })(class="menu-screen__schedule")
