mixin instructions-screen__instructions-wrapper(modifier)
  .instructions-screen__instructions-wrapper&attributes(attributes)
    +instructions-screen__instructions-left-column(modifier)
    +instructions-screen__instructions-right-column(modifier)