@import '__prop-value/properties-table__prop-value';
@import '__prop-name/properties-table__prop-name';
@import '__table/properties-table__table';
@import '__title/properties-table__title';
.properties-table {}

/*
{
  title:"",
  propPairs:[
    {
      name:"",
      value: "",
    },
  ],
}
*/