include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug
include ../../blocks/recipes-screen/recipes-screen.pug

doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= 'Smart life balance'
  body
    div
      +header({})
      main
        +recipes-screen({
          mainInfo:{
            title:"Рецепты",
            desc:"Индивидуальный план питания",
            userInfo:"Иванов Ваня",
          },
          recipes:[
            {
              mealTime:"Завтраки",
              recipeTitle:"Каша на воде",
              ingridientsTitle:"Что нужно:",
              ingridients: [
                {text:"Крупа (вид и количество по плану)"},
                {text:"Соль по вкусу"},
                {text:"Вода (2 объема крупы)"},
              ],
              instructions:[
                {
                  instructionTitle:"Как готовить:",
                  instructionSteps:[
                    {stepTitle:"Крупу промываем (кроме манки, булгура и овсянки). Если это рис и гречка, то перебираем."},
                    {stepTitle:"В воду добавляем соль (по желанию), ставим на огонь и доводим до кипения."},
                    {stepTitle:"В кипящую воду аккуратно засыпаем крупу, размешиваем, опять доводим до кипения и убавляем огонь."},
                    {stepTitle:"На маленьком огне варим кашу, помешивая, до готовности (пробуем)."},
                    {stepTitle:"Если в вашем плане есть дополнительные сладкие ингредиенты (например, варенье или сгущенка) и/или фрукты, ягоды, сухофрукты, семечки, орехи, можете их добавить в уже готовую кашу. Орехи можно размельчить, а сухофрукты мелко нарезать.",
                    text: "Если в плане есть фруктовое пюре, проще всего измельчить очищенный фрукт в блендере, а если его нет - просто натереть на мелкой тёрке."},
                  ],
                },
              ],
              adviceTitle:"Советы:",
              adviceTexts:[{text:"Разные крупы по-разному впитывают жидкости, поэтому если крупа из вашего плана впитала всю воду, и каша становится густой, хотя еще не сварилась, просто долейте еще воды. А именно горячую кипяченую воду, которую следует вливать постепенно, постоянно помешивая кашу до необходимой вам консистенции."}],
            },
            {
              recipeTitle:"Яичница/Омлет",
              ingridientsTitle:"Что нужно:",
              ingridients: [
                {text:"Яйца/белки (в зависимости от плана, обычно 1 желток – это 20гр, 1 белок - 30 гр.)"},
                {text:"Соль по вкусу"},
                {text:"Масло растительное (минимум – для смазки сковороды)"},
              ],
              instructions:[
                {
                  instructionTitle:"Как готовить:",
                  instructionRecipeName:"Яичница",
                  instructionSteps:[
                    {stepTitle:"Сковороду смазываем маслом и разогреваем на огне."},
                    {stepTitle:"На горячую сковороду аккуратно выливаем яйца или предварительно отделённые белки (в зависимости от вашего плана). Солим по вкусу и уменьшаем огонь."},
                    {stepTitle:"Жарим на маленьком огне до готовности."},
                    {stepTitle:"Если в вашем плане есть дополнительно хлеб или овощи к завтраку, сервируем их с яичницей. Также можно сначала слегка обжарить овощи, а потом уже добавить к ним яйца."},
                  ],
                },
                {
                  instructionRecipeName:"Омлет",
                  instructionSteps:[
                    {stepTitle:"Яйца или предварительно отделённые белки (в зависимости от вашего плана) взбиваем венчиком или вилкой в глубокой тарелке. Добавляем соль по вкусу."},
                    {stepTitle:"Сковороду смазываем маслом и разогреваем на огне."},
                    {stepTitle:"На горячую сковороду аккуратно выливаем подготовленную яичную смесь и уменьшаем огонь."},
                    {
                      stepTitle:"Жарим на маленьком огне до готовности. В конце жарки можно накрыть сковороду крышкой на пару минут.", 
                      text:"Некоторые любят омлет, поджаренный с двух сторон. Тогда его нужно аккуратно перевернуть за пару минут до окончания готовки. Переворачивать можно, только когда омлет уже достаточно загустел, чтобы он не развалился. В этом случае закрывать сковороду крышкой не нужно."
                    },
                    {stepTitle:"Если в вашем плане есть дополнительно хлеб или овощи к завтраку, сервируем их с омлетом. Также можно сначала слегка обжарить овощи, а потом уже добавить к ним яйца."},
                  ],
                },
              ],
              adviceTitle:"Советы:",
              adviceTexts:[{text:"Из цельнозерновогохлеба можно сделать тосты к яичнице/омлету."}],
            },
            {
              modificator: "recipe_long-gap_ingridients-instructions",
              mealTime:"Обеды",
              recipeTitle:"Птица тушёная с овощами",
              ingridientsTitle:"Что нужно:",
              ingridients: [
                {text:"Птица (вид и количество по плану)"},
                {text:"Соль/перец по вкусу"},
                {text:"Прованские травы/хмели-сунели или другие приправы (по желанию)"},
                {text:"Масло оливковое (количество по плану)"},
                {text:"Лук репчатый (количество по плану)"},
              ],
              instructions:[
                {
                  instructionTitle:"Как готовить:",
                  instructionSteps:[
                    {stepTitle:"Разрезаем птицу на кусочки. Солим, перчим."},
                    {stepTitle:"Обжариваем на сковороде до образования золотистой корочки."},
                    {stepTitle:"Перекладываем птицу в посуду для тушения (сотейник). В сковороду, где она обжаривалась, выливаем стакан питьевой воды и доводим до кипения. Заливаем этим соусом кусочки птицы и накрываем крышкой."},
                    {stepTitle:"Снова доводим блюдо до кипения и убавляем огонь до слабого. Тушим около 30-40 минут. Всё время следим за уровнем жидкости в сотейнике: она должна прикрывать кусочки птицы хотя бы на половину. Если меньше, доливаем воду."},
                    {stepTitle:"Пока птица тушится, моем и чистим овощи. Лук мелко режем, разогреваем масло на сковороде и обжариваем его 4-5 минут."},
                    {stepTitle:"Когда птица почти готова, пробуем подливку на соль. Подсаливаем или разбавляем водой по вкусу, добавляем подготовленный лук, пряности и тушим ещё 10-15 минут."},
                    {stepTitle:"Подаем с гарниром и свежими овощами по вашему плану."},
                  ],
                },
              ],
              adviceTitle:"Советы:",
              adviceTexts:[{text:"В конце тушения можно добавить вместе с луком и пряностями томатную пасту (по вкусу) и мелко нарезанный чеснок. Особенно это подойдёт к варианту с хмели-сунели."}],
            },
            {
              recipeTitle:"Гарнир",
              ingridientsTitle:"Что нужно:",
              ingridients: [
                {text:"Крупа (вид и количество по плану)"},
                {text:"Соль по вкусу"},
                {text:"Вода (2 объема крупы)"},
              ],
              instructions:[
                {
                  instructionTitle:"Как готовить:",
                  instructionSteps:[
                    {stepTitle:"Крупу промываем. Если это рис и гречка, то перебираем."},
                    {stepTitle:"Доводим воду до кипения, можно просто вскипятить в чайнике. В воду добавляем соль (по желанию)."},
                    {stepTitle:"В кипящую воду аккуратно засыпаем крупу и накрываем крышкой. Ставим небольшой огонь."},
                    {stepTitle:"Через 20 минут проверяем, осталась вода на дне кастрюли или нет."},
                    {stepTitle:"Если видно, что есть вода, можно дать еще минут 5 повариться, потом выключить конфорку и оставить кашу «настаиваться». Если заметили, что стало пригорать, влейте немного воды, около 50 мл., и уберите кастрюлю с горячей конфорки."},
                  ],
                },
              ],
              adviceTitle:"Советы:",
              adviceTexts:[
                {text:"Разные крупы по-разному впитывают жидкости, поэтому время готовки может отличаться. Сколько варить макароны и лапшу, обычно написано на упаковке."},
                {text:"Чтобы гарнир был менее сухим, растительное масло можно налить прямо в него в тарелке."},
              ],
            },
            {
              mealTime:"Ужины",
              recipeTitle:"Рыба на пару с овощами",
              ingridientsTitle:"Что нужно:",
              ingridients: [
                {text:"Филе белой рыбы (количество по плану)"},
                {text:"Цветная капуста (если есть в плане)"},
                {text:"Морковь (если есть в плане)"},
                {text:"Стручковая фасоль (если есть в плане)"},
                {text:"Лимонный сок по вкусу"},
                {text:"Соль/перец по вкусу"},
              ],
              instructions:[
                {
                  instructionTitle:"Как готовить:",
                  instructionSteps:[
                    {stepTitle:"Морковь нарезаем кружочками, капусту разбираем на соцветия."},
                    {stepTitle:"Зеленую фасоль промываем и отвариваем до полуготовности 5-10 минут."},
                    {stepTitle:"Рыбу и овощи солим, перчим, сбрызгиваем лимонным соком."},
                    {stepTitle:"Выкладываем все в чашу пароварки, варим, накрыв крышкой, 20 минут."},
                  ],
                },
              ],
            },
          ],
        })
    +footer()