//- include ../../../images/logo-pic-svg.pug
mixin logo__img(modifier)
  //- .logo__img&attributes(attributes)
    //- +logo-pic-svg()
  img.logo__img(src=require('../../images/logo.png') alt="Логотип")&attributes(attributes)