.instructions-screen__instructions-left-column,
.instructions-screen__instructions-right-column {
  padding-right: 40px;
  box-sizing: border-box;
  @media (max-width: 500px) { 
    padding-right: 0px;  
    margin-bottom: 15px;
  }
}
