/*Цвета*/
$white: #fdfdff;
$red: #de2f2e;
$light-green: #e1efc6;
$lighter-green: #f2f7ec;

/*Место приложения цвета*/
$body--BGColor: $white;

$schedule__cell--BGColor: $light-green;
$schedule__cell_bg_light--BGColor: $lighter-green;
$schedule__cell-caption--Color: $red;