mixin shopping-list-screen__table-head(modifier)
  if modifier["head"] == undefined
    - modifier["head"] = "empty__head";
  th.shopping-list-screen__table-head&attributes(attributes)!=modifier.head
