mixin instruction__content(modifier)
  if modifier["texts"] == undefined
    - modifier["texts"] = [{}];
  p.instruction__content&attributes(attributes)
    each text in modifier.texts
      if text["textModificator"] != undefined
        span(class=text.textModificator)!=text.text
      else
        |#{text.text}

    