include __instructions-right-column/instructions-screen__instructions-right-column.pug
include __instruction/instructions-screen__instruction.pug
include __instructions-left-column/instructions-screen__instructions-left-column.pug
include __instructions-wrapper/instructions-screen__instructions-wrapper.pug
include __main-info/instructions-screen__main-info.pug
mixin instructions-screen(modifier)
  .instructions-screen&attributes(attributes)
