include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug
include ../../blocks/instructions-screen/instructions-screen.pug

doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= 'Smart life balance'
  body
    div
      +header({})
      main
        +instructions-screen(
        { 
          mainInfo: {
            title:"Инструкция",
            desc:"Индивидуальный план питания",
            userInfo:"Иванов Ваня",
          },
          instructionsLeftColumn:[
            {
              title: "ОБЩИЕ РЕКОМЕНДАЦИИ",
              paragraphs: [
                {
                  texts:[
                    {text:"Сон - не менее 7,5 часов. ",textModificator:"instruction_text_bold"},
                    {text:"Плюс советую ложиться и вставать в одно и тоже время."},
                  ],
                },
                {
                  texts:[
                    {text:"1,5-2 литра воды в день ",textModificator:"instruction_text_bold"},
                    {text:"ускорят Ваш обмен веществ и добавят бодрости."},
                  ],
                },
                {
                  texts:[
                    {text:"Солите только готовую еду",textModificator:"instruction_text_bold"},
                    {text:", не более 3-6гр соли в день."},
                  ],
                },
              ],
            },
            {
              title: "ЧТО ЕЩЕ МОЖНО ЕСТЬ?",
              paragraphs: [
                {
                  texts:[
                    {text:"В меню прописан ваш дневной рацион от и до, в идеале вы должны съесть ни больше, ни меньше. Каши/гарниры/орехи/сухофрукты/ фрукты можно заменять (например, кешью – на миндаль), но в идеале советую оставить все, как в меню. Все тщательно просчитано."},
                  ],
                },
                {
                  texts:[
                    {text:"Овощи и зелень можете добавлять по вашему желанию."},
                  ],
                },
              ],
            },
            {
              title: "ЧТО НА ЧТО МОЖНО МЕНЯТЬ?",
              paragraphs: [
                {
                  texts:[
                    {text:"Можно спокойно менять схожие продукты: один вид каш на другой, курицу на индейку (птица), семгу на лосось (красная рыба) и т.д. В крайнем случае допускается менять рыбу на птицу/мясо. Но лучше поменять целиком день."},
                  ],
                },
              ],
            },
            {
              title: "ЧТО МОЖНО ПИТЬ?",
              paragraphs: [
                {
                  modificator: "instruction__content_no-vertical-gap",
                  texts:[
                    {text:"Можете пить черный, зеленый и травяные чаи, кофе, отвар шиповника (все без сахара), а также воду с лимоном или имбирем."},
                  ],
                },
                {
                  texts:[
                    {text:"Это не повлияет на результат."}
                  ],
                },
              ],
            },
            {
              title: "КАК ГОТОВИТЬ?",
              paragraphs: [
                {
                  texts:[
                    {text:"Все блюда в меню готовятся без масла. Лучше варить, запекать, использовать пароварку. Если все же решите что-либо пожарить, используйте антипригарную сковороду и откажитесь от использования масла (с минимальным количеством масла)."},
                  ],
                },
              ],
            },
            {
              title: "КАКОЕ МАСЛО МОЖНО?",
              paragraphs: [
                {
                  modificator: "instruction__content_no-vertical-gap",
                  texts:[
                    {text:"Постарайтесь чередовать разные виды растительных масел: оливковое, льняное, подсолнечное и др."},
                  ],
                },
                {
                  texts:[
                    {text:"В салаты добавляйте любое НЕрафинированное."},
                  ],
                },
              ],
            },
            {
              title: "КАК ЕСТЬ ДО И ПОСЛЕ ТРЕНИРОВКИ?",
              paragraphs: [
                {
                  texts:[
                    {text:"Прием пищи должен быть за 1-2 часа до занятий. Сразу после силовой тренировки можно выпить протеиновый коктейль (1 мерная ложка) с 200 мл. воды. А основной прием пищи - через час. Протеиновый коктейль можно заменить на протеиновые батончики."},
                  ],
                },
              ],
            },
          ],
          instructionsRightColumn:[
            {
              title: "КАК ВЫБИРАТЬ КАШИ И ГАРНИРЫ И КАК ИХ ГОТОВИТЬ?",
              paragraphs: [
                {
                  modificator:"instruction__content_notification",
                  texts:[
                    {text:"ВНИМАНИЕ: Вес всех гарниров, каш, макарон в меню дан "},
                    {text:"в сухом виде",textModificator:"instruction_text_underlined"},
                  ],
                },
                {
                  texts:[
                    {text:"Гарниры и каши ",textModificator:"instruction_text_bold"},
                    {text:"выбирайте из круп более грубой обработки: например, вместо риса белого шлифованного выберите бурый, вместо кус-куса – пшено и т.д. При приготовлении старайтесь несильно разваривать каши, соотношение крупы к воде - не более 1 к 2. Крупы и каши развариваются примерно в 3 раза. То есть если у вас в плане на обед написано 100 гр гречки (в сухом виде), это ~300 гр готовой каши (100*3 = 300)."},
                  ],
                },
                {
                  texts:[
                    {text:"Макароны ",textModificator:"instruction_text_bold"},
                    {text:"выбирайте ТОЛЬКО из твердых сортов пшеницы. Готовьте их al dente (слегка недоваренные, обычно на пачках пишут, сколько минут варить до такого состояния). Макароны развариваются примерно в 2.2 раза. То есть если у вас в плане на обед написано 100гр макарон (в сухом виде), это ~220гр сваренных макарон (100*2.2 = 220)."},
                  ],
                },
                {
                  modificator:"instruction__content_notification",
                  texts:[
                    {text:"ВНИМАНИЕ: Вес всех гарниров, каш, макарон в меню дан "},
                    {text:"в сухом виде.",textModificator:"instruction_text_underlined"},
                  ],
                },
                {
                  texts:[
                    {text:"При готовке "},
                    {text:"мясо/птица/рыба ",textModificator:"instruction_text_bold"},
                    {text:"теряют 1/3 веса, поэтому если на ужин вам нужно съесть 100гр готового продукта, приготовить следует 120-130 гр сырого, если 150гр готового – 180-200гр сырого (150*1.3 = 195)."},
                  ],
                },
              ],
            },
            {
              title: "КАК ПОЛЬЗОВАТЬСЯ СПИСКОМ ПОКУПОК?",
              paragraphs: [
                {
                  modificator:"instruction__content_no-vertical-gap",
                  texts:[
                    {text:"Сначала покупаете все из колонки «На месяц». В нем перечислены продукты длительного хранения: крупы, сухофрукты, масла и др. Далее покупаете продукты для первой недели из колонки «1 неделя», для 2ой - из колонки «2 неделя» и т.д.."},
                  ],
                },
                {
                  texts:[
                    {text:"В них собраны скоропортящиеся продукты, которые лучше покупать каждую неделю свежие: молочная продукция, рыба, мясо, овощи, фрукты и др."},
                  ],
                },
                {
                  texts:[
                    {text:"Обед и завтрак ",textModificator:"instruction_text_bold"},
                    {text:"рассчитаны на 2 приема. Они записаны одним пунктом для удобства приготовления."},
                  ],
                },
                {
                  texts:[
                    {text:"Если в завтраке, обеде или ужине количество сухой крупы более 100гр. или больше привычной вам нормы, просто делите этот прием пищи на 2 раза. Можно пополам или в другом соотношении. Как вам удобно."},
                  ],
                },
                {
                  texts:[
                    {text:"Если в плане птицы/мяса/рыбы более 180 гр. за один прием пищи, также можно разделить эту порцию на две. Или ровно пополам, или в другом удобном вам соотношении."},
                  ],
                },
                {
                  texts:[
                    {text:"Ужинать ",textModificator:"instruction_text_bold"},
                    {text:"садитесь за 3-4 часа до сна."},
                  ],
                },
                {
                  texts:[
                    {text:"Первое время порции могут казаться большими. В таком случае их лучше дробить на несколько приемов или съедать столько, сколько можете. И через каждые 2-3 дня увеличивать на немного, чтобы со временем организм привык, и вы смогли есть, сколько написано в плане."},
                  ],
                },
              ],
            },
          ]
        })
    +footer()(class="footer_extra-top-gap")