mixin footer__site(modifier)
  if modifier["siteHref"] == undefined
    - modifier["siteHref"] = "#!";
  if modifier["site"] != undefined
    a.footer__site(href=modifier.siteHref)&attributes(attributes)!=modifier.site
