mixin footer__site(modifier)
  if modifier["siteHref"] == undefined
    - modifier["siteHref"] = "#!";
  if modifier["site"] != undefined
    td.footer__site&attributes(attributes)
      a(href=modifier.siteHref)!=modifier.site