include __recipes/recipes-screen__recipes.pug
include ../main-info/main-info.pug
include ../recipe/recipe.pug
mixin recipes-screen(modifier)
  if modifier == undefined
    - modifier = {};
  .recipes-screen&attributes(attributes)
    +main-info(modifier.mainInfo)(class="recipes-screen__main-info")
    +recipes-screen__recipes(modifier)