include __text/logo__text.pug
include __img/logo__img.pug
mixin logo(modifier)
  if modifier == undefined
    - modifier = {};
  if modifier["href"] == undefined
    - modifier["href"] = "https://smart-eat.ru/";
  a.logo(href=modifier.href)&attributes(attributes)
    +logo__img(modifier)
    +logo__text(modifier)