mixin shopping-list-screen__food-table-rows(modifier)
  td.shopping-list-screen__food-table-rows&attributes(attributes)
    each foodNameValuePair in modifier.foodNameValuePairs
      +shopping-list-screen__food-table-row(foodNameValuePair)(class=foodNameValuePair.modificator)