mixin recipe__instruction-step-title(modifier)
  if modifier["stepTitle"] == undefined
    - modifier["stepTitle"] = "empty__stepTitle";
  h5.recipe__instruction-step-title&attributes(attributes)!=modifier.stepTitle
