include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug
include ../../blocks/shopping-list-screen/shopping-list-screen.pug


doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= 'Smart life balance'
  body
    div
      +header({})
      main
        +shopping-list-screen({
          mainInfo:{
            title:"Список покупок", 
            desc:"Индивидуальный план питания",
            userInfo:"Иванов Ваня",
          },
          tableColumns:[
            {
              head:"ДЛИТЕЛЬНОГО ХРАНЕНИЯ",
              foodNameValuePairs:[
                {"Гречка": "400 гр"},
                {"Масло льняное": "100 мл"},
                {"Яйца": "1 шт."},
              ],
            },
            {
              head:"СКОРОПОРТЯЩИЕСЯ",
              foodNameValuePairs:[
                {"Цельнозерновой хлеб": "50 гр"},
                {"Куриная грудка": "150 гр"},
                {"Судак": "150 гр"},
                {"Лук репчатый": "100 гр"},
              ],
            },
          ]
        })  
    +footer()
    
    