@import '__caption/schedule__caption';
@import '__cell-caption/schedule__cell-caption';
@import '__property-value/schedule__property-value';
@import '__property-name/schedule__property-name';
@import '__cell-row/schedule__cell-row';
@import '__cell-title/schedule__cell-title';
@import '__cell/schedule__cell';
@import '__row-head/schedule__row-head';
@import '__column-head/schedule__column-head';
.schedule {
  display: grid;
  grid-template-columns: 50px repeat(6,200px);

}

/*
{
  columnHeads:[""],
  rows: [
    rowHead: "",
    cells:
    [
      {
        cellTitle:"",
        cellRows:
        [
          {
            propertyName:"",
            propertyValue: "",
          },
        ],
        cellCaption: "",
      }
    ],
  ],
  caption: "",
}
*/
