mixin properties-table__table(modifier)
  if modifier["propPairs"] == undefined
    - modifier["propPairs"] = [{}];
  .properties-table__table&attributes(attributes)
    each pair in modifier.propPairs
      if pair["modificator"] == undefined
        - pair["modificator"] = "";
      +properties-table__row(pair)(class=pair.modificator)  